:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.controls {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  min-width: 18rem;

  display: flex;
  gap: 1rem;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0.5rem;

  background-color: white;
  border: 1px grey solid;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem 0.05rem #00000030;
}

.control-input-section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}