:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.legends,
.controls {
  position: absolute;
  right: 1.5rem;

  display: flex;
  gap: 1rem;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0.5rem;

  background-color: #ffffffaa;
  border: 1px grey solid;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem 0.05rem #00000030;
}

/* --- Legends --- */
.legends {
  top: 1.5rem;
}

.legend {
  display: flex;
  align-items: center;
  gap: .5rem;
  flex-grow: 1;
}

.legend:last-child {
  flex-grow: 1;
}

.line {
  min-width: 1rem;
  height: 0;
  border: 1px solid #000000aa;
}

.line__blue {
  border: 1px solid blue;
}

.line__red {
  border: 1px solid red;
}

.line__yellow {
  border: 1px solid #FFA725;
}

.line__green {
  border: 1px solid #034C53;
}

.line__dashed__black {
  border: 1px solid #000000;
}

.dot {
  width: .5rem;
  height: .5rem;
  background-color: black;
  border-radius: 100%;
}

.dot__green {
  background-color: green;
}

/* --- Controls --- */
.controls {
  bottom: 1.5rem;
  min-width: 18rem;
}

.control-input-section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}